################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.file-converter-prog2900.dir/.idea
/.vs
/bin
/obj
/Output/*
/siegfried/siegfried.json
/logs/*
